body {
  margin: 0;
  font-family: Arial;
  background: #0f1115;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1a1d24;
  border-bottom: 1px solid #333;
}

nav button {
  margin-left: 8px;
  background: transparent;
  border: 1px solid #333;
  color: #aaa;
  padding: 6px 10px;
  cursor: pointer;
}

nav button:hover {
  color: white;
  border-color: #3b82f6;
}

/* PAGES */
.page {
  display: none;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.page:not(.hidden) {
  display: block;
}

.hidden {
  display: none;
}

/* CARD */
.card {
  background: #1a1d24;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #2a2f3a;
}

/* INPUT */
input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #0f1115;
  border: 1px solid #333;
  color: white;
}

/* BUTTON */
button {
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
